h1{
    background-color:brown;
    color: white;
}
button {
    table-layout: horizontal;
    background-color: lavender}
Form{
    background-color: lightyellow;
    color: black;
    width: 50%;

}


